* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: raleway-c;
    background-image: url(../img/bg.jpg);
}

.about {
    padding: 100px 0 20px 0;
    text-align: center;
    font-family: raleway-c;
    font-weight: bold;
    color: #ffffff;
    
}
.head {
    overflow: hidden;
    background-color: #ffffff;
    padding: 2px 10px;  
}
.head img {
    width: 30px;
}
.head a {
    float: left;
    color: rgb(81, 77, 83);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
}
.head a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 ;
}
.about h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: outfit-c;
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}


.function {
    float:right;
    display: flex;
}
